{{ define "main" }}
    <main>
        <section>
            <h1>All articles</h1>

            <p>
                <ul>
                    {{- range .Data.Pages -}}
                        <li>
                            <a href="{{ .RelPermalink }}">{{.Title}}</a>
                            <span>{{ dateFormat ":date_medium" .Date }} </span> {{ if .Draft }} <span>DRAFT</span> {{ end }}
                        </li>
                    {{- end -}}
                </ul>
            </p>
        </section>
    </main>
{{ end }}
