/**
 * Resets
 */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/**
 * Colors
 */

:root {
    --main-bg: white;
    --main-fg: #181a1b;
    --main-accent: red;
    --main-secondary: grey;
}

/**
 * Styles
 */

html {
    font-family: "IBM Plex Mono", monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;

    text-align: justify;
    word-break: break-all;
    word-wrap: break-word;

    color: var(--main-fg);
    background-color: var(--main-bg);

    line-height: 1.5;
}

body {
    display: flex;
    justify-content: center;
}

#content {
    width: 55em;
    margin: 2em;
}

#bar {
    display: flex;
    align-items: start;
    gap: 1em .7em;

    margin-bottom: 4em;
}

nav {
    display: flex;
    align-items: center;
    gap: 1em;
}

#links {
    display: flex;
    gap: 1em 4em;
    justify-content: space-between;
    flex-grow: 1;
    flex-wrap: wrap;
}

#menu {
    display: flex;
    gap: 0.7em;
}

#social {
    display: flex;
    gap: 0.3em;
}

#dark-mode-toggle {
    margin-top: 0.5em;
}

.feather {
    height: 1.2em;
    width: 1.2em;
    margin: .2em;
    vertical-align: middle;
}

button {
    color: var(--main-fg);
    background-color: var(--main-bg);
}

button:hover {
    color: var(--main-bg);
    background-color: var(--main-accent);
}

.icon {
    display: inline-block;
    border-bottom: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Mono", monospace;
    font-style: normal;
    font-size: 1.2em;

    margin-top: 1em;
    margin-bottom: 1em;
}

p {
    margin: 1em 0;
}

h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
    color: var(--main-accent);
    content: '# ';
}

article h1::before {
    color: var(--main-accent);
    content: '## ';
}

article,
article h1 {
    counter-reset: h2 0 h3 0 h4 0 h5 0 h6 0;
}

article h2::before {
    color: var(--main-accent);
    content: counter(h2) ' ';
    counter-increment: h2;
}

article h2 {
    counter-reset: h3 0 h4 0 h5 0 h6 0;
}

article h3::before {
    color: var(--main-accent);
    content: counter(h2) '.' counter(h3) ' ';
    counter-increment: h3;
}

article h3 {
    counter-reset: h4 0 h5 0 h6 0;
}

article h4::before {
    color: var(--main-accent);
    content: counter(h2) '.' counter(h3) '.' counter(h4) ' ';
    counter-increment: h4;
}

article h4 {
    counter-reset: h5 0 h6 0;
}

article h5::before {
    color: var(--main-accent);
    content: counter(h2) '.' counter(h3) '.' counter(h4) '.' counter(h5) ' ';
    counter-increment: h5;
}

article h5 {
    counter-reset: h6 0;
}

article h6::before {
    color: var(--main-accent);
    content: counter(h2) '.' counter(h3) '.' counter(h4) '.' counter(h5) '.' counter(h6) ' ';
    counter-increment: h6;
}

a {
    border-bottom: 3px solid var(--main-accent);
    color: inherit;
    text-decoration: none;
}

a:hover,
.icon:hover {
    color: var(--main-bg);
    background-color: var(--main-accent);
}

::selection {
    color: var(--main-bg);
    background-color: var(--main-accent);
}

header a {
    font-size: 1.7em;
    font-weight: 700;
}

main,
article {
    margin-top: 2em;
    margin-bottom: 2em;
}

section {
    margin-top: 2em;
    margin-bottom: 1em;
}

time {
    font-style: italic;
    color: var(--main-secondary);
    margin-top: 1em;
    margin-bottom: 1em;
}

time strong {
    color: var(--main-accent);
    font-style: normal;
    margin-left: 0.7em;
}

h1+time,
h2+time,
h3+time,
h4+time,
h5+time,
h6+time {
    display: block;
}

li>time {
    margin-left: 0.5em;
}

.callout,
.highlight {
    border-left: 3px solid var(--main-accent);
    padding: 0 1em;
    margin: 1em 0.5em;
}

.readmore {
    color: var(--main-secondary);
    font-style: italic;
    border-bottom: none;
    padding: 0 0.5em;
}

.readmore::after {
    content: " ⟶";
}

footer {
    padding: 2em 0.5em 0;
    margin: 4em 0 0 0;
    border-top: 3px dotted var(--main-accent);
}

ul {
    list-style: none;
}

ul>li {
    margin-bottom: 0.5em;
}

ul>li::before {
    content: '* ';
    font-weight: 700;
}

.chroma * {
    background-color: var(--main-bg);
    font-family: "Roboto Mono", monospace;
    white-space: pre-wrap;
}
