{{ define "main" }}
    <main>
        <article>
            <section>
                <h1>{{ .Title }}</h1>

                <p>
                    Posted on: {{ dateFormat ":date_medium" .Date }} {{ if .Draft }} <span>DRAFT</span> {{ end }}
                </p>

                {{ if isset .Params "tldr" }}
                    <p>
                        <strong>tl;dr:</strong> {{ .Params.tldr }}
                    </p>
                {{ end }}
            </section>

            <section>
                {{ .Content }}
            </section>
        </article>
    </main>
{{ end }}
