{{ define "main" }}
    <main>
        <section>
            {{ .Content }}
        </section>

        <section>
            {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
            {{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}

            {{ range $paginator.Pages }}
                <article>
                    <h1>
                        <a href="{{ .RelPermalink }}">{{.Title}}</a>
                    </h1>

                    <time>
                        {{ dateFormat ":date_medium" .Date }} {{ if .Draft }} <span>DRAFT</span> {{ end }}
                    </time>

                    <p>
                        {{ .Description }}
                    </p>

                    <a href="{{ .RelPermalink }}">Read more ...</a>
                </article>
            {{ end }}
        </section>
    </main>
{{ end }}
