<div id="bar">
    <div id="links">
        <header>
            <a href="{{ absURL "/" }}">{{ .Site.Title }}</a>
        </header>

        <nav>
            <div id="menu">
                {{ range .Site.Menus.main }}
                    <a href="{{ .URL }}">{{ .Name }}</a>
                {{ end }}
            </div>

            <div id="social">
                {{- range $index, $key := .Site.Params.Social -}}
                    <a class="icon" href="{{ $key.url }}" rel="me" title="{{ $key.name }}"><i data-feather="{{ $key.icon }}"></i></a>
                {{- end -}}
            </div>
        </nav>
    </div>

    <button id="dark-mode-toggle" onclick="toggleTheme()" style="display:none;"></button>
</div>

<noscript>
    <section class="callout">
        <h1>Warning!</h1>
        <p>
            You have disabled javascript for this page.
            I use javascript for styling and displaying math.
            For the best viewing experience, please consider enabling it.
        </p>
    </section>
</noscript>
