{{ define "main" }}
    <main>
        <article>
            {{ .Content }}
        </article>

        <article>
            <h1>
                Posts
            </h1>

            {{ range where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
                <h2>
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </h2>

                <time>
                    {{ dateFormat ":date_medium" .Date }} {{ if .Draft }} <strong>DRAFT</strong> {{ end }}
                </time>

                <p>
                    {{ .Description }}

                    <a class="readmore" href="{{ .RelPermalink }}">Read more</a>
                </p>
            {{ end }}
        </article>
    </main>
{{ end }}
