{{ define "main" }}
    <main>
        <article>
            {{ .Content }}
        </article>

        <article>
            <h1>
                Posts
            </h1>

            {{ range where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
                <section>
                    <h2>
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    </h2>

                    <time>
                        {{ dateFormat ":date_medium" .Date }} {{ if .Draft }} <strong>DRAFT</strong> {{ end }}
                    </time>
                </section>

                <section>
                    <p>
                        {{ .Description }}

                        <a class="readmore" href="{{ .RelPermalink }}">Read more</a>
                    </p>
                </section>
            {{ end }}
        </article>
    </main>
{{ end }}
